.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-body{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(101, 18, 18, 0.926);
}
.list-table{
  background-color: rgb(195, 251, 253);
  padding: 10px;
  width: 50%;
  border: #ccced1;
  border-radius: 10px;
}
.list-table th{
  padding: 4px;
}
.list-table table{
  width: 100%;
}
.list-table tr{
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}
.main-buttons, .list-buttons{
  display: flex;
  flex-direction: row;
}
.main-buttons #lit-btn, #gal-btn, #home-btn, #edit-btn{
  padding: 4px;
  background-color: black;
  color: white;
  margin-right: 2px;
}
.main-buttons #lit-btn:hover, #gal-btn:hover{
  cursor: pointer;
  background-color: #ccced1;
}
.list-buttons{
  margin-top: 6px;
}
.section-container{
   display: flex;
  flex-direction: column; 
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* .add-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: aquamarine;
  width: 50%;
} */
#list-title{
  text-align: left;
  padding-left: 15px;
  font-size: medium;
}
#list-id{
  width: 10px;
  font-size: medium;
}
#add-new-lit-btn {
  background: none;
  border: none;
  margin-bottom: 6px;
  font-size: medium;
  color: white;
}
#add-new-lit-btn:hover{
  cursor: pointer;
  color: rgb(181, 183, 181);
}
.form-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  color: white;
}
.form-container #title-input{
  padding-left: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 450;
  
}
.form-container #text-input{
  resize: none;
  
  padding-top: 6px;

  font-size: medium;
  overflow-y: scroll;
}
#list-remove{
  font-size: smaller;
  border: none;
  background: none;
  padding:2px;
}
#list-remove:hover{
  color: rgb(181, 15, 15);
  background-color: gray ;
  border-radius: 100%;
}
.form-container #submit-btn{
  width: 30%;
  padding: 2px;
}
.list-table #list-title-btn{
  background: none;
  border:none;
  width: 100%;
  text-align: left;
}
.list-table #list-title-btn:hover{
  cursor: pointer;
}

/*Edit Modal*/
.edit-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 20px;
}

.modal-lit-textarea {
  width: 80%;
  resize: none;
}

.edit-modal-close-btn, .edit-modal-save-btn {
  padding: 6px;
  margin-top: 4px;
}